body{
    background: lightblue;
    height: 100vh;
    display: grid;
    place-items: center;
    margin: 0;
}

.container{
    border: dotted black;
    display: flex;
    position: relative;
    width:400px;
    height:300px;
    align-items: center;
}

.cat{
    background-color: #f19b1a;
    height: 65px;
    width: 80px;
    border-radius: 0 80px 80px 0;
    position: absolute;
    right: 50px;
}

.ears{
    height: 15px;
    width: 15px;
    background-color: #f19b1a;
    position: absolute;
    bottom: 65px;
    left:8px;
    border-radius: 80px 0 0 0;
    box-shadow: 25px 0 #f19b1a;
}

.eyes, .eyes::before{
    width: 10px;
    height: 10px;
    border: 1px solid black;
    position: absolute;
    border-radius: 0 0 15px 15px;
    border-top: none;
}
.eyes{
    top:15px;
    left: 20px;
}
.eyes::before{
    content:"";
    left:25px;
}

.nose{
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top:30px;
    left:30px;
    box-shadow: 10px 0 white;
}
.nose::before{
    content: "";
    width:12px;
    height: 8px;
    position: absolute;
    background-color: white;
    left:6px;
}
.nose::after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    /* Technique used to create triangles */
    border-top: 8px solid #ef926b;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    left:6px;
}

.mouth{
    width:15px;
    height: 8px;
    background-color: grey;
    position: absolute;
    top:42px;
    left:34px;
    border-radius: 0 0 5px 5px;
    animation: mouth-move 2s infinite;
    transform-origin: top;
}

@keyframes mouth-move {
    50% {
        transform: scaleY(0.7);
    }
}